<div class="ui yellow three cards">
    {{#each classList}}
        <div class="card">
            <div class="image">
                <div class="center aligned content">
                    <img class="ui small image" {{#if image}} src="{{image}}" {{else}} src="http://res.cloudinary.com/cloud101/image/upload/v1499163813/pc6tz5xokwwd46mfa1t1.png" {{/if}}>
                </div>
                <div class="ui blue header">{{name}}</div>
                <section class="ui segment">
                    <div>{{description}}</div>
                </section>
                <div class="column left aligned">
                    <section class="ui yellow segment">
                        <table class="ui fixed left aligned table">
                            <tr>
                                <td><i class="checked calendar icon"></i> Duration:</td>
                                <td>{{duration}}</td>
                            </tr>
                            <tr>
                                <td><i class="users icon"></i> Capacity:</td>
                                <td>{{capacity}}</td>
                            </tr>
                            <tr>
                                <td><i class="heartbeat icon"></i> Difficulty:</td>
                                <td>{{difficulty}}</td>
                            </tr>
                            <tr>
                                <td><i class="tasks icon"></i> Workouts:</td>
                                <td>{{classesWorkouts}}</td>
                            </tr>
                            <tr>
                                <td><i class="time icon"></i> Time:</td>
                                <td>{{time}}</td>
                            </tr>
                            <tr>
                                <td><i class="calendar icon"></i> Date:</td>
                                <td>{{date}}</td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
            <div class="extra content">
                <span>
                    Edit <a href="/trainerDashboard/updateclass/{{classid}}" data-tooltip="Edit Class"><i class="large blue write icon"></i></a>
                    &emsp;&emsp;&emsp;
                     <a href="/trainerDashboard/removeclass/{{classid}}" data-tooltip="Are You Sure???">
                         <i class=" large red trash icon"></i></a> Remove
                </span>
            </div>
            <div class="extra content">
                <span>
                </span>
            </div>
        </div>
    {{/each}}
</div>
