<section class="ui inverted brown center aligned segment">

    <table class="ui yellow center aligned raised celled table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Capacity</th>
            <th>Difficulty</th>
            <th>Date</th>
            <th>Time</th>
            <th>No. Classes</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        {{#each classList}}
            <div class="ui list">
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{duration}} mins</td>
                    <td>{{capacity}}</td>
                    <td>{{difficulty}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td>{{suite}}</td>
                    <td>
                        <a href="/trainerdashboard/{{id}}/editclass/{{classId}}" class="ui icon button">
                            <i class="purple icon edit"></i>
                        </a>
                    </td>

                    <td>
                        <a href="/trainerDashboard/{{trainerId}}/removeclass/{{classId}}">
                            <i class=" large red trash icon"></i>
                        </a>
                    </td>
            </div>
        {{/each}}
        </tbody>
    </table>
</section>