<br>
<div class="ui large red left ribbon label">
    <i class="info circle icon"></i> All of your Assessment Details {{member.firstName}}&emsp; <i class="pointing down icon"></i>
</div>

<section class="ui inverted brown center aligned segment">
    <section class="ui large inverted yellow segment">
        <div class="ui accordion">
            <div class="title">
                Click Arrow to add more Assessments
                <i class="dropdown icon"></i>
            </div>
            <div class="content">
                <form class="ui raised center aligned segment form" name="memberAddAssessment" action="/dashboard/memberaddassessment" method="POST">
                    <div class="six fields">
                        <div class="field three wide">
                            <label> Weight </label>
                            <input placeholder="00.00kg" type="number" name="weight" step=".01" min="35" max="250" class="ui yellow segment" required>
                        </div>
                        <div class="field three wide">
                            <label> Chest </label>
                            <input placeholder="00.00cm" type="number" name="chest" step=".01" min="35" max="100" class="ui yellow segment" required>
                        </div>
                        <div class="field three wide">
                            <label> Thigh </label>
                            <input placeholder="00.00cm" type="number" name="thigh" step=".01" min="35" max="100" class="ui yellow segment" required>
                        </div>
                        <div class="field three wide">
                            <label> Upper Arm </label>
                            <input placeholder="00.00cm" type="number" name="upperArm" step=".01" min="15" max="100" class="ui yellow segment" required>
                        </div>
                        <div class="field three wide">
                            <label> Waist </label>
                            <input placeholder="00.00cm" type="number" name="waist" step=".01" min="65" max="200" class="ui yellow segment" required>
                        </div>
                        <div class="field three wide">
                            <label> Hips </label>
                            <input placeholder="00.00cm" type="number" name="hips" step=".01" min="65" max="200" class="ui yellow segment" required>
                        </div>
                    </div>
                    <button class="ui animated fade blue submit button">
                        <div class="visible content"><i class="add circle icon"></i> Add Assessment</div>
                        <div class="hidden content">Click to Save</div>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <table class="ui fixed yellow center aligned celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Trend</th>
            <th>Comment</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        {{#each member.assessments}}
            <div class="ui list">
                <tr>
                    <td>{{date}}</td>
                    <td>{{weight}}</td>
                    <td>{{chest}}</td>
                    <td>{{thigh}}</td>
                    <td>{{upperArm}}</td>
                    <td>{{waist}}</td>
                    <td>{{hips}}</td>
                    <td><i class="large {{trend}} bullseye icon"></i></td>
                    <td>{{comment}}</td>
                    <td>
                        <a href="/dashboard/removeassessment/{{assessmentid}}">
                            <i class=" large red trash icon"></i>
                        </a>
                    </td>
                </tr>
            </div>
        {{/each}}
        </tbody>
    </table>
</section>


<script>
    // for dropdown feature
    $('.ui .accordion')
            .accordion({
                selector: {
                    trigger: '.title .icon'
                }
            })
    ;
</script>