<section class="ui inverted brown segment">
    <section class="ui inverted yellow segment">
        <div class="column">
            <section class="ui inverted brown segment">
                <form class="ui raised segment form" name="memberAddBooking" action="/dashboard/memberaddbooking" method="POST">
                    <h2 class="ui red center aligned header"> Add Assessment Booking Details</h2>
                    <section class="ui raised center aligned segment">
                        <div class="three fields">
                            <div class="field">
                                <label>Trainer </label>
                                <select class="ui dropdown" name="trainerid" required>
                                    <option value="">Select Trainer</option>
                                    {{#each trainers}}
                                        <option value="{{trainerid}}">Coach {{lastName}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="field">
                                <label>Assessment Booking Time (06:00 to 18:00)</label>
                                <div class="ui yellow input left icon">
                                    <i class="time icon"></i>
                                    <input placeholder="time" type="time" name="time" step="1800" min="06:00" max="18:00" required>
                                </div>
                            </div>

                            <div class="field">
                                <label>Assessment Booking Date</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input placeholder="date" type="date" name="date" required>
                                </div>
                            </div>

                        </div>
                        <button class="ui animated fade blue submit button">
                            <div class="visible content"><i class="add circle calendar icon"></i>&nbsp;Add Booking</div>
                            <div class="hidden content">Click to Save</div>
                        </button>
                    </section>
                </form>
            </section>
        </div>
        <br>
        <div class="column">
            <div class="ui large blue ribbon label">
                <i class="add to calendar icon"></i> All of your Assessment Booking Details {{member.firstName}}&emsp; <i class="pointing down icon"></i>
            </div>

            <section class="ui inverted brown center aligned segment">
                <table class="ui raised fixed center aligned celled table">
                    <thead>
                    <tr>
                        <th>Trainer</th>
                        <th>Assessment Time</th>
                        <th>Assessment Date</th>
                        <th>Edit Booking</th>
                        <th>Remove Booking</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each bookings}}
                        <div class="ui list">
                            <tr>
                                <td>Coach {{coachlastname}}</td>
                                <td>{{time}}</td>
                                <td>{{date}}</td>
                                <td>
                                    <a href="/dashboard/{{memberid}}/memberupdatebooking/{{bookingid}}">
                                        <i class="large teal upload icon"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/dashboard/{{trainerid}}/removebooking/{{bookingid}}">
                                        <i class="large red trash icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </div>
                    {{/each}}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</section>


<script>
    // sets calendar from todays date
    const todaysDate = new Date().toISOString().split('T')[0];
    document.getElementsByName("date")[0].setAttribute('min', todaysDate);
</script>