<section class="ui inverted brown segment">
    <section class="ui yellow segment">
        <table class="ui fixed left aligned table">
            <h2 class="ui red center aligned header"> Class Details & Availability </h2>
            <img class="ui small centered image" src="{{updatedClass.image}}">

            <tr>
                <td><i class="university icon"></i> Name:</td>
                <td>{{classList.name}}</td>
            </tr>
            <tr>
                <td><i class="write icon"></i> Description:</td>
                <td>{{updatedClass.description}}</td>
            </tr>
            <tr>
                <td><i class="checked calendar icon"></i> Duration:</td>
                <td>{{updatedClass.duration}}</td>
            </tr>
            <tr>
                <td><i class="users icon"></i> Capacity:</td>
                <td>{{updatedClass.capacity}}</td>
            </tr>
            <tr>
                <td><i class="heartbeat icon"></i> Difficulty:</td>
                <td>{{updatedClass.difficulty}}</td>
            </tr>
            <tr>
                <td><i class="tasks icon"></i> Workouts:</td>
                <td>{{updatedClass.classesWorkouts}}</td>
            </tr>
            <tr>
                <td><i class="time icon"></i> Time:</td>
                <td>{{updatedClass.time}}</td>
            </tr>
            <tr>
                <td><i class="calendar icon"></i> Date:</td>
                <td>{{updatedClass.date}}</td>
            </tr>
        </table>
    </section>
</section>
