<div class="ui center aligned four column grid">
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image">

                <img class="ui image" {{#if member.image}} src="{{member.image}}"

                {{else}}
                     src="http://res.cloudinary.com/cloud101/image/upload/v1503162221/forgotimage_lomybo.png" {{/if}}>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image">
                <i class="ui center aligned massive green doctor icon"></i>
            </div>
            <div class="content">
                <a class="ui center aligned header">{{bmiCategory}}</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image">
                <i class="ui center aligned massive yellow heartbeat icon"></i>
            </div>
            <div class="content">
                <a class="ui center aligned header">{{bmi}} BMI</a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image">
                <i class="massive {{idealBodyWeight}} dashboard icon"></i>
            </div>
            <div class="content">
                <a class="ui center aligned header">IDEAL BODY WEIGHT</a>
            </div>
        </div>
    </div>
</div>