<section class="ui inverted brown segment">
    <table class="ui yellow table">
        <tbody>
        <div class="ui list">

            {{#each memberList}}
                <tr>
                    <td class="one wide">
                        <i class="big green user icon"></i>
                    </td>
                    <td class="sixteen wide">

                        <a href="/trainerDashboard/viewassessments/{{id}}"> {{firstName}} {{lastName}} </a>

                        &emsp;<a href="/trainerDashboard/removemember/{{id}}"><i class="large red trash icon"></i></a>

                        <br>
                        {{assessments.length}} assessments
                    </td>
                </tr>
            {{/each}}
        </div>

        </tbody>
    </table>
</section>

