<div class="ui large blue left ribbon label">
    <i class="line chart icon"></i>All of the Essential Statistic Details &emsp; <i class="pointing down icon"></i>
</div>
<br><br>
<div class="ui center aligned four column grid">
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image" data-tooltip="{{member.firstName}} {{member.lastName}}">

                <img class="ui small image" {{#if member.img}} src="{{member.img}}"

                {{else}}
                     src="http://res.cloudinary.com/cloud101/image/upload/v1503230448/imageedit_3_2129305932_eekvt6.png" {{/if}}>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image" data-tooltip="The BMI Category determined by the BMI Reading">
                <i class="ui center aligned massive teal doctor icon"></i>
            </div>
            <div class="content">
                <label class="ui center aligned header">{{bmiCategory}}</label>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image" data-tooltip="The BMI reading from calculation of height to weight ratio">
                <i class="ui center aligned massive yellow heartbeat icon"></i>
            </div>
            <div class="content">
                <label class="ui center aligned header">{{bmi}} BMI</label>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui raised card">
            <div class="ui small centered image" data-tooltip="Colors change to indicate the weight control limits">
                <i class="massive {{idealBodyWeight}} dashboard icon"></i>
            </div>
            <div class="content">
                <label class="ui center aligned header">IDEAL BODY WEIGHT</label>
            </div>
        </div>
    </div>
</div>

<script>
    // makes statistics pulse when page loads
    $('.ui.card')
            .transition({
                animation : 'pulse',
                reverse   : false,
                interval  : 250
            })
    ;
</script>