<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted brown segment">
            <section class="ui yellow segment">
                <table class="ui fixed left aligned table">
                    <h2 class="ui red center aligned header"> Booking Details </h2>
                    <tr>
                        <td><i class="university icon"></i> Name:</td>
                        <td>{{bookingList.date}}</td>
                    </tr>
                    <tr>
                        <td><i class="write icon"></i> Description:</td>
                        <td>{{bookingList.time}}</td>
                    </tr>
                    <tr>
                        <td><i class="checked calendar icon"></i> Duration:</td>
                        <td>{{trainerList.lastName}}</td>
                    </tr>
                </table>
            </section>
        </section>
    </div>
    <div class="column left aligned">
        <section class="ui inverted brown segment">
            <form class="ui yellow raised segment form" name="editBooking" action="/dashboard/editBooking/{{updatedBooking.bookingid}}" method="POST">
                <h2 class="ui red center aligned header"> Update Booking</h2>
                <section class="ui raised segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Booking Date</label>
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input placeholder="date" type="date" name="date" required>
                            </div>
                        </div>
                        <div class="field">
                            <label>Booking Time</label>
                            <div class="ui yellow input left icon">
                                <i class="time icon"></i>
                                <input placeholder="time" type="time" name="time"  required>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label> Trainer </label>
                        <select class="ui dropdown" name="trainerid" required>
                            <option value="">Select Trainer</option>
                            {{#each trainerList}}
                                <option value="{{trainerid}}">Coach {{lastName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <button class="ui animated fade blue submit button">
                        <div class="visible content"><i class="add to calendar icon"></i>&emsp;Add Booking</div>
                        <div class="hidden content">Click to Save</div>
                    </button>
                </section>

            </form>
        </section>
    </div>
</div>