<section class="ui inverted brown segment">
    <h2 class="ui center aligned header">Welcome Back Coach {{trainer.lastName}}</h2>
    <img class="ui centered small image" src="{{trainer.img}}">
    <div class="ui large blue ribbon label">
        <i class="info circle icon"></i> All of the Gym Members and their Assessment Details!!
    </div>
    <section class="ui center aligned segment">
        <div class="ui raised five cards">
            {{#each members}}

                <div class="ui link card">
                    <a class="ui tiny centered image" data-tooltip="{{firstName}} {{lastName}}" src="{{img}}" href="/trainerDashboard/trainerviewassessments/{{memberid}}">
                        <img {{#if img}} src="{{img}}"
                        {{else}}

                                           src="http://res.cloudinary.com/cloud101/image/upload/v1503230448/imageedit_3_2129305932_eekvt6.png" {{/if}}></a>

                    <h3 class="ui header">{{assessments.length}} Assessment(s)</h3>

                    <a href="/trainerDashboard/removemember/{{memberid}}" data-tooltip="Are You Sure???"><i class="large red trash icon"></i></a>
                    <br>
                </div>

            {{/each}}
        </div>
    </section>
</section>