{{> memberMenu id="settings"}}

<div class="ui two column grid basic segment">
    <div class="column">
        <section class="ui inverted brown segment">
            <form class="ui yellow raised segment form" action="/settings" method="POST">
                <h2 class="ui red center aligned header"> Update Profile</h2>
                <section class="ui segment">
                    <div class="two fields">
                        <div class="field">
                            <label> First Name </label>
                            <input placeholder="first name" name="firstName" required>
                        </div>
                        <div class="field">
                            <label> Last Name </label>
                            <input placeholder="last name" name="lastName" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="email" type="email" name="email" required>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input placeholder="address" name="address" required>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label> Gender </label>
                            <select class="ui dropdown " name="gender" title="">
                                <option value=""> Select</option>
                                <option value="male"> Male</option>
                                <option value="female"> Female</option>
                            </select>
                        </div>
                        <div class="field">
                            <label> Height </label>
                            <input placeholder="(meters)" type="number" step=".01" min="1" max="3"
                                   name="height" required>
                        </div>
                        <div class="field">
                            <label> Starting Weight </label>
                            <input placeholder="(kgs)" type="number" step=".01" min="35"
                                   max="250" name="startingWeight" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Image Url</label>
                        <div class="ui input left icon">
                            <i class="image icon"></i>
                            <input placeholder="image url" name="image">
                        </div>
                    </div>
                    <button class="ui animated fade blue submit button">
                        <div class="visible content"><i class="upload icon"></i>Update</div>
                        <div class="hidden content">Click to Save</div>
                    </button>
                </section>
            </form>
        </section>
    </div>

    <div class="column left aligned">
        <section class="ui inverted brown segment">
            <section class="ui yellow segment">
                <table class="ui fixed left aligned table">
                    <h2 class="ui red center aligned header"> {{member.firstName}}'s Profile Details </h2>
                    <tr>
                        <td><i class="user icon"></i> Member:</td>
                        <td>{{member.firstName}} {{member.lastName}}</td>
                    </tr>
                    <tr>
                        <td><i class="mail icon"></i> Email:</td>
                        <td>{{member.email}}</td>
                    </tr>
                    <tr>
                        <td><i class="home icon"></i> Address:</td>
                        <td>{{member.address}}</td>
                    </tr>
                    <tr>
                        <td><i class="genderless icon"></i> Gender:</td>
                        <td>{{member.gender}}</td>
                    </tr>
                    <tr>
                        <td><i class="resize vertical icon"></i> Height:</td>
                        <td>{{member.height}} meters</td>
                    </tr>
                    <tr>
                        <td><i class="law icon"></i> Starting weight:</td>
                        <td>{{member.startingWeight}} kgs</td>
                    </tr>

                    <img class="ui small centered image" src="{{member.image}}">

                </table>
            </section>
        </section>
    </div>
</div>
